name: NetApiDeployOnAz

on:
  push:
    branches:
      - 'master'

env:
  REGISTRY_NAME: 'demogithubaction'
  CLUSTER_NAME: 'PuksiAksCluster'
  CLUSTER_RESOURCE_GROUP: 'Demo_Github_Action'
  NAMESPACE: 'net-api-action-ns'
  APP_NAME: 'net-api-action'

jobs:
  app_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checking Out Code
        uses: actions/checkout@master

      # Login ACR
      - name: Login AZ ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.REGISTRY_NAME }}.azurecr.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      # Build and puch to ACR
      - name: Build and puch to ACR
        run: |
          docker build -t ${{ env.REGISTRY_NAME }}.azurecr.io/${{ env.APP_NAME }}:${{ github.sha }} \
                       -t ${{ env.REGISTRY_NAME }}.azurecr.io/${{ env.APP_NAME }}:latest .
          docker push -a ${{ env.REGISTRY_NAME }}.azurecr.io

      - name: Deploy to AKS
        uses: azure/aks-set-context@v1
        with:
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
          cluster-name: ${{ env.CLUSTER_NAME }}
          resource-group: ${{ env.CLUSTER_RESOURCE_GROUP }}
